@font-face {
   font-family: 'Rubik-Medium';
   font-display: swap;
   src: url('Rubik-Medium/font.ttf');
}
@font-face {
   font-family: 'Rubik-Regular';
   font-display: swap;
   src: url('Rubik-Regular/font.ttf');
}
